@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

/*
 FORMATTING FOR CODEPEN
*/

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}

.col {
  height: 100%;
}
.col2 {
    height: 50%;
  }

div[class*=container] {
  text-align: center;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-1 { background: #333; }
.container-4 { background: #333; }

/*
 BUTTON STYLING
*/

.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
}

.btn::before{
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-one::before {
	left: 4px;
	z-index: 1; 
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 1);
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-one:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}

/* BTN FOUR */

.btn-four:hover span {
  transform: scale(1.2, 1.2);
}

.btn-four::before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
}

.btn-four:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-four::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-four:hover::after {
  transform: scale(0, 0);
  opacity: 0;
}

#Welcome{
font-family: 'Open Sans Condensed', sans-serif;
text-align: center;
color:rgb(201, 201, 201);
background-color:#333;
padding: 0;
margin-block-end: 0;
margin-block-start: 0;
}
a:link, a:visited, a:active {
  color:rgb(255, 255, 255);
  text-decoration: none;
}
